.App {
  text-align: center;
  align-content: center;
}

.App h1 {
  color: #eeeeee;
  font-size: 8vh;
  margin: 20px 20px;
}

.App .box {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.App .box h2 {
  float: left;
  color: #eeeeee;
  margin: 0;
}

.select-all {
  text-transform: capitalize;
  color: #eeeeee;
  font-family: 'Oswald', 'Roboto';
  float: right;
}

.form {
  text-align: center;
  align-content: center;
  margin: 60px 60px;
  color: #eeeeee;
  display: inline-flex;
}

.results {
  width: 80%;
  margin: auto;
}

.selection {
  font-size: 4vh;
  color: #eeeeee;
}

.selection:hover {
  font-size: 4vh;
  color: #757575;
}