body {
  margin: 0;
  background: url('./Assets/img/stardust.png') #181818;
  font-family: 'Oswald', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Fira Sans', source-code-pro, Menlo, Monaco, Consolas, 
  'Courier New',  monospace;
}
